body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}
.error-input {
    border:1.5px red solid !important;
    outline: 1px solid red;
}
img{

    border-radius: 8px;
}

#form-2 .navbar{
    margin-left: -11px ;
    margin-right: -11px ;
    padding: 15px 15px 15px 20px !important;
    margin-bottom: 30px;
    background-color: rgb(251, 244, 236);
    border-bottom: 1px solid #b0aaaa;
}
.form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Style for tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
tr:nth-child(1) {
    background-color: #fff !important; /* Change this to your desired color */
  }
  
  /* Style even rows */
  tr:nth-child(2) {
    background-color: #f2f2f2 !important; /* Change this to your desired color */
  }
  
table, th, td {
    border: 1px solid #a0a29e;
}

th, td {
    padding: 10px;
}

/* Style for section headers */
.section-header {
    background-color: white;
    font-weight: bold;
}

/* Style for form inputs */
input[type="text"],
input[type="email"],
input[type="date"],
select {
    width: 100%;
    padding: 3px;
    margin: 5px 0;
}
.button-color{
    color: rgb(255, 255, 255);
    background-color:  #0061b0d9;
}
/* Style for checkboxes and radio buttons */

