body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

img{
    padding: 10px;
    border: .5px solid #b9b3b3db;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
}

#form-2 .navbar{
    margin-left: -11px ;
    margin-right: -11px ;
    padding: 15px 15px 15px 20px !important;
    margin-bottom: 30px;
    background-color: rgb(251, 244, 236);
    border-bottom: 1px solid #b0aaaa;
}
.form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Style for tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #a0a29e;
}

th, td {
    padding: 10px;
}

/* Style for section headers */
.section-header {
    background-color: #f0f0f0;
    font-weight: bold;
}

/* Style for form inputs */
input[type="text"],
input[type="email"],
input[type="date"],
select {
    width: 100%;
    padding: 3px;
    margin: 5px 0;
}

/* Style for checkboxes and radio buttons */

